
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact/FeedBack Form</title>
    <!-- <link rel="stylesheet" href="../static/styles1.css"> -->
</head>
<body>
    
    <div style="display: flex;align-items: center;justify-content: center;margin-top: 20%;">
        <h1 style='display:flex;align-items:center;justify-content:center;margin-top:50px;color:var(--togglecolor);font-size:35px;'>Submitted Successfully, Thanks for your Feedback</h1>
        <img src="../static/Assets/smiley.gif" style="display:inline;align-items:center;justify-content:center;height:120px;width:140px;"><br>
    </div><br>
    
    <div>
        <a href="{{ url_for('home') }}" style="font-size:20px;font-weight: bold;display: flex;align-items: center;justify-content: center;">Back to Home</a>
    </div>

</body>
</html>




