
<div id="sitemap_cont">
    <div id="sitemap">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/calculators/">Calculators</a>
              <ul>
                <li><a href="/calculators/mortgage-calculator/">Mortgage Calculator</a></li>
                <li><a href="/calculators/investment-calculator/">Investment Calculator</a></li>
                <li><a href="/calculators/savings-calculator/">Savings Calculator</a></li>
              </ul>
            </li>
            <li><a href="/resources/">Resources</a>
              <ul>
                <li><a href="/resources/financial-education/">Financial Education</a></li>
                <li><a href="/resources/financial-planning/">Financial Planning</a></li>
              </ul>
            </li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>          
    </div>
</div>

<style>
    #sitemap_cont{
        display: flex;
        align-items: left;
        justify-content: left;
    }

    #sitemap{
        font-size: 20px;
    }
</style>
